body {
    background-color: var(--background) !important;
    color: var(--fontColor);
    font-size: 0.92rem;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    overflow-x: hidden !important;
    overflow-y: scroll;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarColor);
}

/* 2022-4-9 注释掉此段 */
/* * {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

[v-cloak] {
    display: none;
}

label,
input,
button {
    font-size: 0.9rem !important;
}

.pl18 {
    padding-left: 18px;
}

.h30 {
    height: 30px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.fgreen {
    color: green;
}

.fred {
    color: red;
}

/* 2022-4-9 日志列表禁止选择 */
#log-list {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page-top {
    background-color: var(--background) !important;
    z-index: 999;
}

.project-info {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fontColor);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-info .branch {
    font-size: 0.95rem;
    color: var(--fontColor);
}

.project-info .active {
    color: var(--inputLineColor);
}

.project-name::after {
    font-family: 'git-icon';
    content: "\e6a4";
    position: relative;
}

.outline-none {
    box-shadow: none !important;
}

.form-group .form-control::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    font-size: 0.86rem !important;
    font-weight: 400 !important;
    color: var(--inputPlaceholderColor) !important;
}

.form-control {
    border-radius: 2px !important;
    font-size: 0.9rem !important;
    border: none;
    background-color: var(--background);
    color: var(--inputLineColor) !important;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    caret-color: var(--cursorColor);
}

.form-control:focus,
.form-control:active {
    border-radius: 2px !important;
    padding-left: 16px;
    border-bottom: 1px solid var(--inputLineColor);
    color: var(--inputLineColor);
    background-color: var(--background);
    font-weight: 500;
    font-size: 0.9rem;
    caret-color: var(--cursorColor);
}

.icon:active {
    -webkit-transform: rotate(0.9);
    transform: scale(0.9);
}

#git-log-body {
    overflow-y: auto;
    overflow-x: hidden !important;
}

.tmp-log-body {
    margin-bottom: 360px !important;
}

.gitfile:hover .hideicon {
    opacity: 1;
}

.gitfile:hover .ci {
    display: none;
}

.li-log {
    padding: 0px 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--fontColor);
    width: 100%;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.li-log:last-child {
    border-bottom: none;
}

.li-log p {
    margin-bottom: 0;
    line-height: 35px;
}

.li-log:hover {
    cursor: pointer;
}

.li-log-selected {
    background-color: var(--liHoverBackground) !important;
}

.md-screen {}

@media screen and (max-width: 750px) {
    .md-screen {
        display: none;
    }
}

.htext {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.li-log .hash {
    position: absolute;
    right: 16px;
}

@media screen and (max-width: 300px) {
    .hash {
        display: none;
    }
}

.gtag {
    border: 1px solid var(--lineColor);
    border-radius: 6px;
    margin: 0 5px;
    padding: 3px 4px;
    font-size: 0.7rem;
    color: rgb(245, 108, 108);
}

#log-view-file {
    height: 360px;
}

#log-view-file > .c-line {
    cursor: n-resize;
    height: 5px;
    padding-top: 15px;
    width: 100%;
}

.view-log-details {
    z-index: 2999 !important;
    border-top: 1px solid var(--lineForBorderTopColor) !important;
    background-color: var(--background);
    box-shadow:-2px -2px 5px -1px var(--background) !important;
    -webkit-box-shadow:-2px -2px 5px -1px var(--background) !important;
}

.view-log-details .fname:hover {
    text-decoration: underline;
    cursor: pointer;
}

.view-log-details .intro {
    font-size: 12px;
    line-heigh: 1.7rem;
    margin-bottom: 0;
    user-select: none;
}

.view-log-details .close {
    font-size: 1.5rem !important;
    outline: none;
    box-shadow: none !important;
    user-select: none;
}

.close:focus {
    webkit-box-shadow: none;
    outline: none;
    box-shadow: none !important;
    -webkit-transform: rotate(0.9);
    transform: scale(0.9);
}

.commit-files-list {
    height: 270px;
    overflow-y: auto;
    width: 36%;
    user-select: none;
}

.commit-files-list::-webkit-scrollbar {
    display: none;
}

.commit-files-list li {
    color: var(--fontColor);
    height: 1.7rem;
    line-height: 1.7rem;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex-average {
    flex: 1 1 50% !important;
}

.commit-files-list .num {
    width: 28px;
    display: inline-block;
}

.commit-files-list .binary {
    font-size: 12px;
}

.commit-files-list ul>li {
    list-style: none;
}

.commit-file-details {
    flex: 1;
    border-left: 1px solid var(--lineForBorderTopColor);
    height: 270px;
    overflow-y: auto;
    cursor: default;
    user-select: auto !important;
    moz-user-select: auto !important;
    -moz-user-select: auto !important;
    -o-user-select: auto !important;
    -khtml-user-select: auto !important;
    -webkit-user-select: auto !important;
    -ms-user-select: auto !important;
}

.commit-file-details p {
    margin-bottom: 0 !important;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .commit-file-details {
        display: none !important;
    }
}

.commit-file-details .line-add {
    color: #2A6745;
    background-color: #E3FDEF;
}

.commit-file-details .line-sub {
    color: #C12A22;
    background-color: #FCEBE6;
}

.no-result {
    color: var(--fontColor) !important;
}

.contextmenu {
    margin: 0;
    background: var(--menuBackground);
    z-index: 3000;
    position: absolute;
    display: block;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    /* border: 1px solid #d3d8d7; */
    font-size: 14px;
    font-weight: 400;
    /* color: #333; */
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.contextmenu li {
    margin: 0;
    padding: 2px 16px;
    /* color: #000000; */
    font-size: 14px;
    letter-spacing: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contextmenu .dropdown-divider {
    border-top: 1px solid var(--menuCutLineColor) !important;
    margin-left: 5px;
    margin-right: 5px;
}

.contextmenu li:hover {
    background-color: rgb(84, 156, 228);
    color: #FFFFFF;
}

.spinner {
    margin: 30% auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #67CF22;
    height: 100%;
    width: 3px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.click-disable {
    pointer-events: none;
    color: #888888 !important;
}

.load-more-log {
    font-size: 14px;
}

.d2h-file-header {
    display: none !important;
}

.d2h-info {
    background-color: var(--background) !important;
}

.d2h-file-wrapper {
    border: none !important;
}

.d2h-files-diff .d2h-file-side-diff:last-child {
    border-left: 1px solid var(--lineColor) !important;
}

.d2h-file-diff::-webkit-scrollbar {
    height: 0 !important
}

.d2h-code-side-linenumber::after {
    background-color: var(--background) !important;
}

.d2h-code-side-linenumber {
    background-color: var(--background) !important;
    border: none !important;
}

.d2h-info {
    border: none !important;
    color: var(--fontColor) !important;
}

.line-num1,
.line-num2 {
    color: var(--fontColor) !important;
}

.d2h-ins {
    background-color: var(--d2h_ins_bg) !important;
    border: none !important;
}

.d2h-del {
    background-color: var(--d2h_del_bg) !important;
    border: none !important;
}

ins {
    background-color: var(--d2h_code_side_line_ins_bg) !important;
}

del {
    background-color: var(--d2h_code_side_line_del_bg) !important;
}

.d2h-code-side-emptyplaceholder,
.d2h-emptyplaceholder {
    border: none !important;
    background-color: var(--d2h_emptyplaceholder_bg) !important;
}

.d2h-code-linenumber {
    background-color: var(--background) !important;
    border: none !important;
    position: relative !important;
}

.d2h-code-line {
    padding: 0 1.5rem !important;
}

.cursor-default {
    cursor: default;
}

.search-support .ul-list {
    max-height: 104px !important;
    overflow-y: auto;
    list-style: none;
    padding: 0 3px;
    position: absolute;
    z-index: 1600;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 var(--background);
    background-color: var(--toolBarBgColor);
    width: 90%;
    background-clip: padding-box;
    border: 1px solid var(--background);
}

.search-support .ul-list li {
    height: 36px;
    line-height: 36px;
    width: 100%;
    border-bottom: 1px solid var(--lineColor);
    padding-left: 16px;
    font-size: 12px;
    color: var(--fontColor);
}

.search-support .ul-list li:nth-last-child(1) {
    border-bottom: none;
}

.search-support .ul-list li:hover {
    color: rgb(65, 168, 99);
}


/* a链接 */
.link {
    color: #4e92df !important;
}

.link:hover {
    text-decoration: underline;
}
